<% include header %>

<div class="card col-6 offset-3 mt-5 shadow-lg p-3 rounded justify-content-around">
  <div class="card-body">
    <p class="text-center">Cette petite application utilises les technos suivantes :</p>
    <li>Node js</li>
    <li>Node js lib : Express</li>
    <li>Node js lib : Express Session</li>
    <li>Node js lib : Body-parser</li>
    <li>Node js lib : nodemon</li>
    <li>Node js lib : Ejs moteur de template</li>
    <li>Node js lib : mysql</li>
    <li>Framework CSS : Bootstrap</li>
  </div>
</div>

<% include footer %>